asgiref==3.11.1 ; python_version >= "x.x"
django-cors-headers==4.9.0 ; python_version >= "x.x"
django-extensions==4.1 ; python_version >= "x.x"
django-rest-framework==0.1.0 ; python_version >= "x.x"
django==6.0.3 ; python_version >= "x.x"
djangorestframework-simplejwt==5.5.1 ; python_version >= "x.x"
djangorestframework==3.16.1 ; python_version >= "x.x"
faker==40.8.0 ; python_version >= "x.x"
pillow==12.1.1 ; python_version >= "x.x"
pyjwt==2.11.0 ; python_version >= "x.x"
sqlparse==0.5.5 ; python_version >= "x.x"
tzdata==2025.3 ; (sys_platform == "win32" or platform_system == "Windows") and python_version >= "x.x"
